extends layout

block content
    h1= found.username
        h2= "This user's score is: " + found.score
        h3= "This user's current streak is: " + found.streak
        h3= "This user's longest streak is: " + found.longeststreak
        h3= "Questions this user answered correctly: " + found.correct.length
        for question, i in found.correct
            if(i<10)
                a(href="/random/"+question.id)
                    li=question.id
        a(href="/"+found.username+"/correct")
            h4="    See all"
        h3="Questions this user answered incorrectly: " + found.incorrect.length
        for question, i in found.incorrect
            if(i<10)
                a(href="/random/"+question.id)
                    li=question.id
        a(href="/"+found.username+"/incorrect")
            h4="    See all"
        h3="Questions this user passed: " + found.passed.length
        for question, i in found.passed
            if(i<10)
                a(href="/random/"+question.id)
                    li=question.id
        a(href="/"+found.username+"/passed")
            h4="    See all"