extends layout
block head
    link(rel='stylesheet', href='/stylesheets/profile.css')
block content
    h1= found.username + " "
        span.nums= found.score
        h3= "Current Streak " 
            span.numstwo= found.streak
        h3= "Longest Streak "
            span.numstwo= found.longeststreak
        h3= "Correct " + found.correct.length
        for question, i in found.correct
            if(i<10)
                a(href="/random/"+question.id)
                    li=question.id
        a(href="/"+found.username+"/correct")
            h4="    See all"
        h3="Incorrect " + found.incorrect.length
        for question, i in found.incorrect
            if(i<10)
                a(href="/random/"+question.id)
                    li=question.id
        a(href="/"+found.username+"/incorrect") 
                h4="    See all"
        h3="Passed " + found.passed.length
        for question, i in found.passed
            if(i<10)
                a(href="/random/"+question.id)
                    li=question.id
        a(href="/"+found.username+"/passed")
            h4="    See all"