extends layout

block content
    h1= title
    h5= prompt
    h5= question
    h5= id
    form#submit(name="submit",method="post",action="/submit")
        input#A(type="radio",name="choice",value="A")
        label= A
        br
        input#A(type="radio",name="choice",value="B")
        label= B
        br
        input#A(type="radio",name="choice",value="C")
        label= C
        br
        input#A(type="radio",name="choice",value="D")
        label= D
        br
        input#A(type="radio",name="choice",value="E")
        label= E
        br
        button#submit(type="submit") submit
        input(type="hidden",name = "id", value= id)