extends layout

block content
    h1= "Most Recent Rankings"
    h3= ranking[0][username]
    h3= ranking[1][username]
    h3= ranking[2][username]
    table(border= 1)
        tr
            td= "Username"
            td= "Score"
        each person in ranking
            tr
                td= person.username
                td= person.score