extends layout

block head
    script(src="/scripts/home.js")
    link(rel='stylesheet', href='/stylesheets/home.css')
block content
        span.left-gold
        h1= "Welcome " + session.user     
            br
            span.nums= score
        span.right-gold
            div.horizontal
                span.left-gold
                    h3= "Current Streak "
                        span.numstwo= streak
                span.right-gold
                    h3= "Longest Streak "
                        span.numstwo= longeststreak
            div.horizontal
                span.left-third
                    h3= "Correct " + correctlength
                    for question in found.correct
                        a(href="/random/"+question.id)
                            li=question.id
                span.middle-third
                    h3="Incorrect " + incorrectlength
                    for question in found.incorrect
                        a(href="/random/"+question.id)
                            li=question.id
                span.right-third
                    h3="Passed " + passedlength
                    for question in found.passed
                        a(href="/random/"+question.id)
                            li=question.id
block footer
    script.
        var correct = !{correct};
        var incorrect = !{incorrect};
        var passed = !{passed};
        init(correct,incorrect);
